body{
    background-color: rgb(190, 16, 45);
}

.inputs{
   width: 60%;
}

#questions{
    background-color: white;
    border-top: solid 10px rgb(80, 28, 28);
    padding: 12px;
    width: 35%;
    border-radius: 10px;
}